body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#login,
#register {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 40vw;
}